.container{
  margin-left: 600px;

}
label{
  width:100px;

}
.form-control{
  margin-left:60px;

}

.btn{
  margin-left :200px;
}

label{
  font-size: 20px;
}
h2{
  font-size: 40px;
  font-style: italic ;
}
