<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2" id="sidebar">
        <div class="block1">
            <ul class="list-type1">
                <li><a routerLink="/control/team/user">User</a></li>
                <li><a routerLink="/control/team/user-group">User Group</a></li>
                <li><a routerLink="/control/team/user-role">User Role</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 rightstrip">
        <div id="rightstrip">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>